.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border: 1px solid white;
}

.App-header {
  padding-top: 80px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
